

  .grid-subContainer > .grid-sub2Container{
    display: flex;
    flex-direction: column;
    animation: fadeInAnimation ease 3s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards;
  
  }
  #titulo{
    font-size: 30px;
    text-align:  center;
  
  }
  .tituloProducto{
    display: flex;
    justify-content: center;
    color: #0048ff;
    text-align: center;
    font-size: 20px;
  }

  
  #widthImg{
    width: 180px;
  }
  #widthImgPel{
    width: 530px;
    height: 630px;
    margin: 100px;
  }
  .gridprodContainer{
    display: grid;
    grid-template-rows: auto auto;
      grid-gap: 10px;
    padding: 10px;
  grid-row-gap: 10px;
  background-color: #f2f2f2;
  }
  .gridprodContainer > .gridprodContainer1{
    display: grid;
    grid-template-columns: auto auto;
     grid-column-gap: 30px;
  }
  .grid-prodsubContainer1 > div{
    align-content: space-around;
  }

  .gridprodContainer1 > .flexsubContainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  
  }
  .gridprodContainer1 > .flexsubContainer2 {
    font-size: 25px;
    margin-top: 100px;
  }
  .flexsubContainer2 > form{
  display: flex;
  justify-content: left;
}
.flexsubContainer2 > h2{
  color: #0066ff;
  font-size: 50px;
}
  #nombreprod{
    text-align: center;
   background-color: #4765F0;
  
    font-size: 30px;
  }
  #widthImgAct{
    width: 100px;
    height: 150px;
  }

  label[for="star5"],
  label[for="star4"],
  label[for="star3"],
  label[for="star2"],
  label[for="star1"]{
    cursor: pointer;
  }
  
  .flexdireccion{
    margin: 10px;
    column-gap: 120px;
    display: inline-flex;
    flex-direction: row;
     justify-content: center;
    flex-wrap: wrap;
  background-color: #f2f2f2;
  }

  #bottom_ver{
    text-align: center;
    height:50px;  
    width:140px;
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 6px;
      border: 2px solid #0016b0;
    }

  #bottom_ver:hover{
    opacity: 0.8;
      color: #1883ba;
      background-color: #ffffff;
  }

  #bottom_descargar{
    text-align: center;
    height:50px;  
    width:140px;
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #000000;
      background-color: #FFD700;
      border-radius: 6px;
      border: 2px solid #0016b0;
    }
  #bottom_descargar:hover{
    opacity: 0.8;
      color: #1883ba;
      background-color: #ffffff;
  }
  

  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .rate {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 150%;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  
  
  .gridprodContainer > .gridprodContainer2{
    display: grid;
    grid-gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .gridprodContainer2 > h1{
    font-size: 40px;
  }
  .gridprodContainer2 > h3{
    font-size: 25px;
  }
  textarea{
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
  .panelComentario {
    width: 680px;
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border:.5px solid #fff;
    box-shadow: 0px 0px 10px #000;
  }
  .cabeceraComentario {
    float: left;
    background:#f2f2f2;
    color: #0066ff;
    font-size:23px;
    position: relative;
    top:1px;
  }
  .cabeceraComentario > span{
    color: #999;
    font-size:20px;
  
  }
  .contenidoComentario{
    background:#fff;
    padding: 12px;
    font-size: 20px;
    color: #595959;
  }
  
  #avatar{
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF; 
    border-radius: 4px;
    overflow: hidden;
    margin-right: 5px;
  }
  #iconoResponder{
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 14px;
    position: absolute;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
  }
  
  #botonComentarios{
    font-size:17px;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:25px;
    cursor: pointer;
  }

  .add_carro{
    font-size: 10px;
    height:40px;
    width:100px;
    background: rgb(250, 128, 47);
  
    border:1px solid black;
    color: #fff;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }

  .add_carro:hover{
    background: rgb(211, 100, 26);;
  }

   .decrementar, .incrementar{
    width: 3em;
    height: 3em;
  }

  #cantidad{
    max-width:400px;
    width: 70%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:0.5em 0.5em;
    border-radius:5px;
    border:2px solid #ffffff;
    outline:none;
  }
  
  